input[type="file"] {
    display: none;
}

label#img-input-box {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: max(2vw, 2vh);
    border-radius: max(2vw, 2vh);
    min-height: 20vh;
    justify-content: center;
}

.invisible {
    display: none !important;
}

img.img-display {
    max-width: 30vw;
    max-height: 30vh;
}
