{% extends 'layout.html' %}
{% block content %}
<h2>Register</h2>
<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        <span>Username:</span>{{ form.username.label() }}
        {{ form.username() }}
        {% if form.username.errors %}
            {% for error in form.username.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <span>Email:</span>{{ form.email.label() }}
        {{ form.email() }}
        {% if form.email.errors %}
            {% for error in form.email.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <span>Password:</span>{{ form.password.label() }}
        {{ form.password() }}
        {% if form.password.errors %}
            {% for error in form.password.errors %}
                <span>{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
    {{ form.submit() }}
</form>
{% endblock %}
