{% extends 'layout.html' %}
{% block content %}


<div>
  <h1>
    Upload the food images here and click on Recognize.
  </h1>
</div>
<div class="form-inline">
  <h2>Upload food images.</h2>
  <form method="POST" action="/upload" enctype="multipart/form-data">
    <input class="form-control" type="file" name="img" multiple />
    <br><br>
    <input class="btn btn-primary" type="submit" />
  </form>
  <form action="/predict"><input class="btn btn-primary" type="submit" class="sub" value="Recognize"/></form>
</div>
</div>
{% endblock %}