

<!DOCTYPE html>
<html>
  
<body>
    <div class="jumbotron text-center">
      <p style="font-size: 40px" face="verdana">
        Upload the food images here and click on Recognize.
      </p>
    </div>
    <form action="/predict"><input class="btn btn-primary" type="submit" class="sub" value="Recognize" /></form>
    <div class="form-inline">
      <h2>Upload food images.</h2>
      <form method="POST" action="/upload" enctype="multipart/form-data">
        <input class="form-control" type="file" name="img" multiple />
        <input class="btn btn-primary" type="submit" />
      </form>
        </div>
    </div>
    </body>
</html>

